/* Variables */

$blue: #3a6073
$light-blue: rgba(48, 86, 125, 0.7)
$red: #d66
$green: rgba(42, 187, 155, 0.7)
$grey: #f6f6f6
$orange: #e67e22



/* Media Queries */

$mobile: 480px
$tablet: 768px

@mixin mobile
	@media (min-width: 0px) and (max-width: #{$mobile})
		@content


@mixin tablet
	@media (min-width: #{$mobile + 1px}) and (max-width: #{$tablet})
		@content

@mixin desktop
	@media (min-width: #{$tablet + 1px})
		@content

@mixin small-desktop
	@media (min-width: #{$tablet + 1px}) and (max-width: 1100px)
		@content




/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro)




/* Main Styles */

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li
	margin: 0
	padding: 0
	border: 0
	font-family: 'Source Sans Pro', arial, san-serif

.gradient
	background: #3a6073
	background: -moz-linear-gradient(-45deg,  #3a6073 0%, #16222a 100%)
	background: -webkit-linear-gradient(-45deg,  #3a6073 0%,#16222a 100%)
	background: linear-gradient(135deg,  #3a6073 0%,#16222a 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6073', endColorstr='#16222a',GradientType=1 )

.ease
	-webkit-transition: background-color 0.3s ease
	-moz-transition: background-color 0.3s ease
	-o-transition: background-color 0.3s ease
	transition: background-color 0.3s ease
	&:hover
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		-o-transition: all 0.3s ease
		transition: all 0.3s ease
.half
	width: 30%
	margin: 2em 5%
	padding: 1em 5%
	float: left
	background: $grey
	text-align: center
	@include tablet
		width: 80%
		margin: 1em 5%
		text-align: center
	@include mobile
		width: 80%
		margin: 1em 5%
		text-align: center

ul
	li
		list-style-type: none

header, h1, h2, h3, h4, ul.error, a, thead
	font-family: 'Lato', arial, san-serif

h1
	margin: 1em 0
	@include tablet
		width: 90%
		margin: 1em 5%
		text-align: center
	@include mobile
		width: 90%
		margin: 1em 5%
		text-align: center
h2
	margin: 0.75em 0

a
	text-decoration: none

p
	line-height: 25px
	color: #444



/* Buttons */

.warning
	&:hover
		background: rgba(255, 60, 60, 0.7)

.btn, input[type="submit"]
	border-radius: 100px
	float: left
	border: none
	font-size: 16px
.btn
	@extend .ease
	background: $blue
	padding: 1em 2em
	color: #fff
	@include tablet
		width: 90%
		padding: 1em 5%
		margin: 1em 0
		text-align: center
	@include mobile
		width: 90%
		padding: 1em 5%
		margin: 1em 0
		text-align: center
	a
		color: #fff
		text-decoration: none
		font-weight: bold

.create
	@extend .btn
	&:hover
		background: $green
	&:after
		font-family: FontAwesome
		content: "  \F067"
	@include tablet
		background: $green
	@include mobile
		background: $green

.edit
	@extend .btn
	&:hover
		background: $light-blue
	&:after
		font-family: FontAwesome
		content: "  \F040"

.profile
	@extend .btn
	&:hover
		background: $light-blue
	&:after
		font-family: FontAwesome
		content: "  \F007"

.view
	&:after
		font-family: FontAwesome
		content: "  \F06e"

.delete
	@extend .btn
	@extend .warning
	&:after
		font-family: FontAwesome
		content: "  \F014"
	@include tablet
		background: $red
		width: 100%
		padding: 1em 5%
	@include mobile
		background: $red
		width: 100%
		padding: 1em 5%

.back
	@extend .btn
	float: left
	&:hover
		background: $light-blue
	&:before
		font-family: FontAwesome
		content: "\F053  "

.email
	@extend .btn
	float: right
	background: $blue
	&:hover
		background: $green
	&:after
		font-family: FontAwesome
		content: "  \F003"
	@include tablet
		background: $green
	@include mobile
		background: $green

.mobile-menu
	display: none
	color: #fff
	font-size: 22px
	float: left
	position: absolute
	right: 10%
	&:before
		font-family: FontAwesome
		content: "\F0c9  "
	@include tablet
		display: block
	@include mobile
		display: block




/* Header */

header
	@extend .gradient
	color: #fff
	float: left
	width: 100%
	height: 80px
	line-height: 80px
	.logo-container
		font-size: 30px
		float: left
		width: 220px
		height: 80px
		margin: 0 0 0 5%
		a
			text-decoration: none
			color: #fff
			float: left
			.logo
				float: left
				height: 80px
				margin-top: 5px
			span
				float: left
				margin-left: 10px
	nav
		float: right
		text-align: right
		width: 60%
		margin: 0 5% 0 0
		line-height: 80px
		@include tablet
			position: absolute
			background: $blue
			top: 80px
			width: 100%
			margin: 0
			padding: 0
			text-align: center
		@include mobile
			position: absolute
			background: $blue
			top: 80px
			width: 100%
			margin: 0
			padding: 0
			text-align: center
		ul
			float: right
			@include tablet
				width: 100%
			@include mobile
				width: 100%
			li
				@extend .ease
				list-style-type: none
				display: inline-block
				padding: 0 13px
				float: left
				&:hover
					background: rgba(0, 0, 0, 0.3)
				@include tablet
					display: none
					padding: 0
					width: 100%
					display: none
				@include mobile
					display: none
					padding: 0
					width: 100%
					display: none
				@include desktop
					display: inline-block !important
				a
					font-size: 20px
					color: #fff
					text-decoration: none
					display: block
					float: left
					@include tablet
						width: 100%
					@include mobile
						width: 100%
			li.warning
				@include tablet
					background: rgba(255, 60, 60, 0.8)
				@include mobile
					background: rgba(255, 60, 60, 0.8)




/* Form */

.form-group
	float: left
	margin: 1em 0
	width: 90%
	padding: 1em 5%
	background: darken($grey, 3%)
	@include tablet
		width: 80%
		margin: 0 0 1em
		padding: 1em 10%
	@include mobile
		width: 80%
		margin: 0 0 1em
		padding: 1em 10%

	label
		width: 100%
		color: darken($grey, 60%)
		font-size: 20px
		float: left
		margin-top: 0.5em
	input, textarea, select
		width: 100%
		height: 50px
		font-size: 20px
		padding: 0 1em
		background-color: #fff
		border: none
		border-left: 5px solid darken($blue, 10%)
		margin: 0.7em 0
		font-family: 'Source Sans Pro', arial, san-serif
	textarea
		height: 200px
		max-width: 100%
		padding: 0.7em 1em
	input[type='submit']
		@extend .ease
		width: 30%
		margin-left: 70%
		background: $red
		color: #fff
		border: none
		cursor: pointer
		@include tablet
			width: 100%
			margin: 1em 0
			background: $green
		@include mobile
			width: 100%
			margin: 1em 0
			background: $green
		&:hover
			background: $green
	form
		.cke_chrome
			border: none
			box-shadow: none
		.cke_reset
			width: 100%
			float: left
			background: darken($grey, 3%)
			box-sizing: border-box
			iframe
				border-left: 5px solid $blue
		.cke_top
			border: none
			background: darken($grey, 3%)
			background-image: none
			box-shadow: none
			margin-top: 1em
		.cke_toolbar_break
			display: none
		.cke_bottom
			background: darken($grey, 8%)
			background-image: none
			border: none

ul.error
	background: darken($red, 5%)
	color: #fff
	font-size: 20px
	width: 90%
	margin: 1em 0%
	padding: 1em 5%

.body-login
	@extend .gradient
	font-family: 'Lato', arial, san-serif
	text-align: center

	label
		color: #fff
		text-align: left

	h1
		text-align: center
		color: #fff
	img
		margin-top: 2em

	.form-group
		width: 44%
		margin: 0 23% 1em 
		background: rgba(255, 255, 255, 0.1)
		@include tablet
			width: 60%
			margin: 0 15% 1em
		@include mobile
			width: 80%
			margin: 0 5% 1em

		input[type='submit']
			width: 100%
			margin-left: 0
			&:hover
				background: lighten($red, 10%)
			@include tablet
				background: $red
			@include mobile
				background: $red
		ul.error
			width: 90%
			margin: 1em 0 0.4em 0
			padding: 5%

.form-forgot
	float: left
	margin: 1em 20%
	width: 50%
	padding: 0 5%
	text-align: center
	color: $blue
	a
		color: $red
		@include tablet
			width: 100%
			float: left
			&:first-child
				padding-bottom: 1em
				border-bottom: 1px solid darken($blue, 8%)
			&:last-child
				padding-top: 1em
		@include mobile
			width: 100%
			float: left
			&:first-child
				padding-bottom: 1em
				border-bottom: 1px solid darken($blue, 8%)
			&:last-child
				padding-top: 1em
	span
		padding: 0 1em
		@include tablet
			display: none
		@include mobile
			display: none



	/* -Container */

.container
	float: left
	width: 80%
	padding: 0 10% 2em
	@include tablet
		width: 100%
		padding: 0 0 2em
	@include mobile
		width: 100%
		padding: 0 0 2em

	.wrap
		width: 100%
		@include tablet
			width: 90%
			padding: 0 5%
		@include mobile
			width: 90%
			padding: 0 5%	

	main
		width: 100%
		float: left
		box-sizing: border-box
		@include tablet
			width: 100%
			padding: 0
		@include mobile
			width: 100%
			padding: 0
		ul
			li
				margin: 0.5em 0 0.5em 5%
				&:before
					font-family: FontAwesome
					content: "\F067  "
					font-weight: bold
					color: $red
		p
			margin-bottom: 1em
			@include tablet
				padding: 0 5%
			@include mobile
				padding: 0 5%
		h1, h2, h3, h4, pre
			margin-bottom: 1em
			@include tablet
				text-align: center
			@include mobile
				text-align: center
		blockquote
			width: 90% 
			margin: 1em 3%
			padding: 0 2%
			border-left: 5px solid $grey
			box-sizing: border-box

	aside
		width: 35%
		padding: 1em 2%
		margin: 0 0 2% 2%
		float: right
		background: $grey
		text-align: center
		@include tablet
			width: 80%
			margin: 0 0 1em
			padding: 0 10%
			text-align: center
		@include mobile
			width: 80%
			margin: 0 0 1em
			padding: 0 10%
			text-align: center
		p
			font-size: 18px
			line-height: 30px
			margin-bottom: 1em
			a
				color: $red
		h2
			padding-bottom: 1em
			border-bottom: 2px solid darken($grey, 5%)
		span
			font-weight: bold
			text-decoration: underline
			float: left
			width: 100%
		.btn
			margin: 0 0 2em
			clear: both
			width: 80%
			padding: 1em 10%
			text-align: center
			&:hover
				background: rgba(48, 86, 125, 0.6)


	.row
		width: 100%
		float: left
		margin: 0
		text-align: right
		@include tablet
			width: 80%
			margin: 0 10%
		@include mobile
			width: 80%
			margin: 0 10%
		.btn
			float: right
			margin-left: 1em
		.back
			float: left
			margin: 1em 0 0
		form
			display: inline
		a
			margin-bottom: 1em

	.list
		float: left
		li
			@extend .ease
			width: 26%
			margin: 1em 3.666%
			float: left
			background: $blue
			text-align: center
			&:hover
				background: $light-blue
			@include tablet
				width: 44%
				margin: 1em 3%
			@include mobile
				width: 90%
				margin: 0.5em 5%
				text-align: center
			a
				width: 90%
				min-height: 100px
				font-size: 18px
				font-family: arial
				text-decoration: none
				color: #fff
				display: inline-block
				padding: 2em 1%
				margin: 0 5%
				@include mobile
					min-height: auto
					padding: 1.2em 0
	
	.user-container
		width: 90%
		padding: 2em 5%
		margin: 1em 0
		float: left
		background: $grey
		@include tablet
			text-align: center
			width: 80%
			padding: 2em 10%
		@include mobile
			text-align: center
			width: 80%
			padding: 2em 10%
		p
			font-size: 22px
			line-height: 30px
			margin-bottom: 1em
			float: left
			width: 100%
		p.user
			font-weight: bold
			border-bottom: 2px solid darken($grey, 5%)
			margin-bottom: 1em
			padding-bottom: 1em
			&:before
				font-family: FontAwesome
				content: "\F007  "
				font-weight: normal
				color: darken($grey, 20%)
		ul
			float: left
			margin: 0 5%
			width: 90%
			font-size: 20px
			font-weight: bold
			line-height: 28px
			li
				margin-bottom: 0.5em
				a
					color: $red
		.row
			width: 100%
			margin: 0

		.half
			margin: 0 5%
			padding: 0
			width: 40%
			@include tablet
				text-align: center
				width: 80%
				padding: 2em 10%
			@include mobile
				text-align: center
				width: 80%
				padding: 2em 10%
			h2
				margin: 0 0 1em
				text-align: center
			ul
				text-align: left
				margin-left: 5%

	.dashboard
		width: 100%
		float: left
		h2
			float: left
			text-align: center
			width: 100%
			margin: 0 0 1em 0
		span
			float: left
			color: $orange
			width: 100%
			font-weight: bold
			font-size: 3em
		.btn
			width: 80%
			padding: 1em 10%
			&:hover
				background: $light-blue


.flash
	width: 80%
	padding: 1em 10%
	color: #fff
	float: left
	font-size: 20px
	position: relative
	-webkit-animation: flash-fade 5s infinite
	span
		position: absolute
		font-size: 30px
		top: 50%
		text-align: center
		color: #d66
		right: 5%
		margin-top: -19px
		font-weight: bold
		border-radius: 50px
		width: 42px
		height: 42px
		background: #fff
		cursor: pointer
	p
		color: #fff
	a
		color: #fff
		font-style: italic
		border-bottom: 2px solid #fff

.flash-add
	@extend .flash
	background: rgba(42, 187, 155, 0.7)

.flash-update
	@extend .flash
	background: $light-blue

.flash-delete
	@extend .flash
	background: rgba(239, 72, 54, 0.7)

.post
	background: $grey
	padding: 1em 5%
	margin: 1em 0
	width: 90%
	float: left
	@include tablet
		width: 80%
		margin: 1em 5%
	@include mobile
		width: 80%
		margin: 1em 5%
	span
		width: 100%
		float: left
		margin-top: 1em
	.btn
		&:hover
			background: $light-blue






table
	width: 100%
	margin: 0
	padding: 0
	border-collapse: collapse
	border-spacing: 0
	text-align: left
	@include tablet
		width: 80%
		margin: 0 10%
	@include mobile
		width: 90%
		margin: 0 5%
	fa
		color: $blue
	thead
		font-weight: bold
		background: $blue
		color: #fff
		@include tablet
			display: none
		@include mobile
			display: none
		tr
			width: 100%
			th
				padding: 0.5em 2%
				font-size: 20px
	tbody
		width: 100%
		td
			padding: 0.5em 2%
			@include tablet
				padding: 0.5em 0
			@include mobile
				padding: 0.5em 0
			a
				color: $blue
	tbody
		tr
			background: $grey
			@include tablet
				display: block
				border-bottom: 2em solid #fff
			@include mobile
				display: block
				border-bottom: 2em solid #fff
			&:nth-child(even)
				background: darken($grey, 2%)
				@include tablet
					background: $grey
				@include mobile
					background: $grey
			&:hover
				background: rgba(0, 0, 0, 0.15)

			td

				@include tablet
					display: block
					text-align: right
					width: 90%
					padding: 0.5em 5%
					border-bottom: 1px dotted darken($grey, 5%)
					&:last-child
						border: none
					&:before
						content: attr(data-label)
						float: left
						font-weight: bold
					&:nth-child(even)
						background: darken($grey, 2%)

				@include mobile
					display: block
					text-align: right
					width: 90%
					padding: 0.5em 5%
					border-bottom: 1px dotted darken($grey, 5%)
					&:last-child
						border: none
					&:before
						content: attr(data-label)
						float: left
						font-weight: bold
					&:nth-child(even)
						background: darken($grey, 2%)
			.view-cell
				text-align: center






.morning
	&:before
		font-family: FontAwesome
		content: "\F185  "
		color: #F3D012

.afternoon
	&:before
		font-family: FontAwesome
		content: "\F185  "
		color: $orange	

.evening
	&:before
		font-family: FontAwesome
		content: "\F186  "
		color: darken($grey, 15%)

