@charset "UTF-8";
/* Variables */
/* Media Queries */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro);
/* Main Styles */
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", arial, san-serif; }

.gradient, header, .body-login {
  background: #3a6073;
  background: -moz-linear-gradient(-45deg, #3a6073 0%, #16222a 100%);
  background: -webkit-linear-gradient(-45deg, #3a6073 0%, #16222a 100%);
  background: linear-gradient(135deg, #3a6073 0%, #16222a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6073', endColorstr='#16222a',GradientType=1 ); }

.ease, .btn, .create, .edit, .profile, .delete, .back, .email, header nav ul li, .form-group input[type='submit'], .container .list li {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .ease:hover, .btn:hover, .create:hover, .edit:hover, .profile:hover, .delete:hover, .back:hover, .email:hover, header nav ul li:hover, .form-group input[type='submit']:hover, .container .list li:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.half {
  width: 30%;
  margin: 2em 5%;
  padding: 1em 5%;
  float: left;
  background: #f6f6f6;
  text-align: center; }
  @media (min-width: 481px) and (max-width: 768px) {
    .half {
      width: 80%;
      margin: 1em 5%;
      text-align: center; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .half {
      width: 80%;
      margin: 1em 5%;
      text-align: center; } }

ul li {
  list-style-type: none; }

header, h1, h2, h3, h4, ul.error, a, thead {
  font-family: "Lato", arial, san-serif; }

h1 {
  margin: 1em 0; }
  @media (min-width: 481px) and (max-width: 768px) {
    h1 {
      width: 90%;
      margin: 1em 5%;
      text-align: center; } }
  @media (min-width: 0px) and (max-width: 480px) {
    h1 {
      width: 90%;
      margin: 1em 5%;
      text-align: center; } }

h2 {
  margin: 0.75em 0; }

a {
  text-decoration: none; }

p {
  line-height: 25px;
  color: #444; }

/* Buttons */
.warning:hover, .delete:hover {
  background: rgba(255, 60, 60, 0.7); }

.btn, .create, .edit, .profile, .delete, .back, .email, input[type="submit"] {
  border-radius: 100px;
  float: left;
  border: none;
  font-size: 16px; }

.btn, .create, .edit, .profile, .delete, .back, .email {
  background: #3a6073;
  padding: 1em 2em;
  color: #fff; }
  @media (min-width: 481px) and (max-width: 768px) {
    .btn, .create, .edit, .profile, .delete, .back, .email {
      width: 90%;
      padding: 1em 5%;
      margin: 1em 0;
      text-align: center; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .btn, .create, .edit, .profile, .delete, .back, .email {
      width: 90%;
      padding: 1em 5%;
      margin: 1em 0;
      text-align: center; } }
  .btn a, .create a, .edit a, .profile a, .delete a, .back a, .email a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.create:hover {
  background: rgba(42, 187, 155, 0.7); }
.create:after {
  font-family: FontAwesome;
  content: "  "; }
@media (min-width: 481px) and (max-width: 768px) {
  .create {
    background: rgba(42, 187, 155, 0.7); } }
@media (min-width: 0px) and (max-width: 480px) {
  .create {
    background: rgba(42, 187, 155, 0.7); } }

.edit:hover {
  background: rgba(48, 86, 125, 0.7); }
.edit:after {
  font-family: FontAwesome;
  content: "  "; }

.profile:hover {
  background: rgba(48, 86, 125, 0.7); }
.profile:after {
  font-family: FontAwesome;
  content: "  "; }

.view:after {
  font-family: FontAwesome;
  content: "  "; }

.delete:after {
  font-family: FontAwesome;
  content: "  "; }
@media (min-width: 481px) and (max-width: 768px) {
  .delete {
    background: #d66;
    width: 100%;
    padding: 1em 5%; } }
@media (min-width: 0px) and (max-width: 480px) {
  .delete {
    background: #d66;
    width: 100%;
    padding: 1em 5%; } }

.back {
  float: left; }
  .back:hover {
    background: rgba(48, 86, 125, 0.7); }
  .back:before {
    font-family: FontAwesome;
    content: " "; }

.email {
  float: right;
  background: #3a6073; }
  .email:hover {
    background: rgba(42, 187, 155, 0.7); }
  .email:after {
    font-family: FontAwesome;
    content: "  "; }
  @media (min-width: 481px) and (max-width: 768px) {
    .email {
      background: rgba(42, 187, 155, 0.7); } }
  @media (min-width: 0px) and (max-width: 480px) {
    .email {
      background: rgba(42, 187, 155, 0.7); } }

.mobile-menu {
  display: none;
  color: #fff;
  font-size: 22px;
  float: left;
  position: absolute;
  right: 10%; }
  .mobile-menu:before {
    font-family: FontAwesome;
    content: " "; }
  @media (min-width: 481px) and (max-width: 768px) {
    .mobile-menu {
      display: block; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .mobile-menu {
      display: block; } }

/* Header */
header {
  color: #fff;
  float: left;
  width: 100%;
  height: 80px;
  line-height: 80px; }
  header .logo-container {
    font-size: 30px;
    float: left;
    width: 220px;
    height: 80px;
    margin: 0 0 0 5%; }
    header .logo-container a {
      text-decoration: none;
      color: #fff;
      float: left; }
      header .logo-container a .logo {
        float: left;
        height: 80px;
        margin-top: 5px; }
      header .logo-container a span {
        float: left;
        margin-left: 10px; }
  header nav {
    float: right;
    text-align: right;
    width: 60%;
    margin: 0 5% 0 0;
    line-height: 80px; }
    @media (min-width: 481px) and (max-width: 768px) {
      header nav {
        position: absolute;
        background: #3a6073;
        top: 80px;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center; } }
    @media (min-width: 0px) and (max-width: 480px) {
      header nav {
        position: absolute;
        background: #3a6073;
        top: 80px;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center; } }
    header nav ul {
      float: right; }
      @media (min-width: 481px) and (max-width: 768px) {
        header nav ul {
          width: 100%; } }
      @media (min-width: 0px) and (max-width: 480px) {
        header nav ul {
          width: 100%; } }
      header nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0 13px;
        float: left; }
        header nav ul li:hover {
          background: rgba(0, 0, 0, 0.3); }
        @media (min-width: 481px) and (max-width: 768px) {
          header nav ul li {
            display: none;
            padding: 0;
            width: 100%;
            display: none; } }
        @media (min-width: 0px) and (max-width: 480px) {
          header nav ul li {
            display: none;
            padding: 0;
            width: 100%;
            display: none; } }
        @media (min-width: 769px) {
          header nav ul li {
            display: inline-block !important; } }
        header nav ul li a {
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          display: block;
          float: left; }
          @media (min-width: 481px) and (max-width: 768px) {
            header nav ul li a {
              width: 100%; } }
          @media (min-width: 0px) and (max-width: 480px) {
            header nav ul li a {
              width: 100%; } }
      @media (min-width: 481px) and (max-width: 768px) {
        header nav ul li.warning, header nav ul li.delete {
          background: rgba(255, 60, 60, 0.8); } }
      @media (min-width: 0px) and (max-width: 480px) {
        header nav ul li.warning, header nav ul li.delete {
          background: rgba(255, 60, 60, 0.8); } }

/* Form */
.form-group {
  float: left;
  margin: 1em 0;
  width: 90%;
  padding: 1em 5%;
  background: #eeeeee; }
  @media (min-width: 481px) and (max-width: 768px) {
    .form-group {
      width: 80%;
      margin: 0 0 1em;
      padding: 1em 10%; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .form-group {
      width: 80%;
      margin: 0 0 1em;
      padding: 1em 10%; } }
  .form-group label {
    width: 100%;
    color: #5d5d5d;
    font-size: 20px;
    float: left;
    margin-top: 0.5em; }
  .form-group input, .form-group textarea, .form-group select {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 1em;
    background-color: #fff;
    border: none;
    border-left: 5px solid #294451;
    margin: 0.7em 0;
    font-family: "Source Sans Pro", arial, san-serif; }
  .form-group textarea {
    height: 200px;
    max-width: 100%;
    padding: 0.7em 1em; }
  .form-group input[type='submit'] {
    width: 30%;
    margin-left: 70%;
    background: #d66;
    color: #fff;
    border: none;
    cursor: pointer; }
    @media (min-width: 481px) and (max-width: 768px) {
      .form-group input[type='submit'] {
        width: 100%;
        margin: 1em 0;
        background: rgba(42, 187, 155, 0.7); } }
    @media (min-width: 0px) and (max-width: 480px) {
      .form-group input[type='submit'] {
        width: 100%;
        margin: 1em 0;
        background: rgba(42, 187, 155, 0.7); } }
    .form-group input[type='submit']:hover {
      background: rgba(42, 187, 155, 0.7); }
  .form-group form .cke_chrome {
    border: none;
    box-shadow: none; }
  .form-group form .cke_reset {
    width: 100%;
    float: left;
    background: #eeeeee;
    box-sizing: border-box; }
    .form-group form .cke_reset iframe {
      border-left: 5px solid #3a6073; }
  .form-group form .cke_top {
    border: none;
    background: #eeeeee;
    background-image: none;
    box-shadow: none;
    margin-top: 1em; }
  .form-group form .cke_toolbar_break {
    display: none; }
  .form-group form .cke_bottom {
    background: #e2e2e2;
    background-image: none;
    border: none; }

ul.error {
  background: #d85151;
  color: #fff;
  font-size: 20px;
  width: 90%;
  margin: 1em 0%;
  padding: 1em 5%; }

.body-login {
  font-family: "Lato", arial, san-serif;
  text-align: center; }
  .body-login label {
    color: #fff;
    text-align: left; }
  .body-login h1 {
    text-align: center;
    color: #fff; }
  .body-login img {
    margin-top: 2em; }
  .body-login .form-group {
    width: 44%;
    margin: 0 23% 1em;
    background: rgba(255, 255, 255, 0.1); }
    @media (min-width: 481px) and (max-width: 768px) {
      .body-login .form-group {
        width: 60%;
        margin: 0 15% 1em; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .body-login .form-group {
        width: 80%;
        margin: 0 5% 1em; } }
    .body-login .form-group input[type='submit'] {
      width: 100%;
      margin-left: 0; }
      .body-login .form-group input[type='submit']:hover {
        background: #e69090; }
      @media (min-width: 481px) and (max-width: 768px) {
        .body-login .form-group input[type='submit'] {
          background: #d66; } }
      @media (min-width: 0px) and (max-width: 480px) {
        .body-login .form-group input[type='submit'] {
          background: #d66; } }
    .body-login .form-group ul.error {
      width: 90%;
      margin: 1em 0 0.4em 0;
      padding: 5%; }

.form-forgot {
  float: left;
  margin: 1em 20%;
  width: 50%;
  padding: 0 5%;
  text-align: center;
  color: #3a6073;
  /* -Container */ }
  .form-forgot a {
    color: #d66; }
    @media (min-width: 481px) and (max-width: 768px) {
      .form-forgot a {
        width: 100%;
        float: left; }
        .form-forgot a:first-child {
          padding-bottom: 1em;
          border-bottom: 1px solid #2c4958; }
        .form-forgot a:last-child {
          padding-top: 1em; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .form-forgot a {
        width: 100%;
        float: left; }
        .form-forgot a:first-child {
          padding-bottom: 1em;
          border-bottom: 1px solid #2c4958; }
        .form-forgot a:last-child {
          padding-top: 1em; } }
  .form-forgot span {
    padding: 0 1em; }
    @media (min-width: 481px) and (max-width: 768px) {
      .form-forgot span {
        display: none; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .form-forgot span {
        display: none; } }

.container {
  float: left;
  width: 80%;
  padding: 0 10% 2em; }
  @media (min-width: 481px) and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 0 2em; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0 0 2em; } }
  .container .wrap {
    width: 100%; }
    @media (min-width: 481px) and (max-width: 768px) {
      .container .wrap {
        width: 90%;
        padding: 0 5%; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .container .wrap {
        width: 90%;
        padding: 0 5%; } }
  .container main {
    width: 100%;
    float: left;
    box-sizing: border-box; }
    @media (min-width: 481px) and (max-width: 768px) {
      .container main {
        width: 100%;
        padding: 0; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .container main {
        width: 100%;
        padding: 0; } }
    .container main ul li {
      margin: 0.5em 0 0.5em 5%; }
      .container main ul li:before {
        font-family: FontAwesome;
        content: " ";
        font-weight: bold;
        color: #d66; }
    .container main p {
      margin-bottom: 1em; }
      @media (min-width: 481px) and (max-width: 768px) {
        .container main p {
          padding: 0 5%; } }
      @media (min-width: 0px) and (max-width: 480px) {
        .container main p {
          padding: 0 5%; } }
    .container main h1, .container main h2, .container main h3, .container main h4, .container main pre {
      margin-bottom: 1em; }
      @media (min-width: 481px) and (max-width: 768px) {
        .container main h1, .container main h2, .container main h3, .container main h4, .container main pre {
          text-align: center; } }
      @media (min-width: 0px) and (max-width: 480px) {
        .container main h1, .container main h2, .container main h3, .container main h4, .container main pre {
          text-align: center; } }
    .container main blockquote {
      width: 90%;
      margin: 1em 3%;
      padding: 0 2%;
      border-left: 5px solid #f6f6f6;
      box-sizing: border-box; }
  .container aside {
    width: 35%;
    padding: 1em 2%;
    margin: 0 0 2% 2%;
    float: right;
    background: #f6f6f6;
    text-align: center; }
    @media (min-width: 481px) and (max-width: 768px) {
      .container aside {
        width: 80%;
        margin: 0 0 1em;
        padding: 0 10%;
        text-align: center; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .container aside {
        width: 80%;
        margin: 0 0 1em;
        padding: 0 10%;
        text-align: center; } }
    .container aside p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 1em; }
      .container aside p a {
        color: #d66; }
    .container aside h2 {
      padding-bottom: 1em;
      border-bottom: 2px solid #e9e9e9; }
    .container aside span {
      font-weight: bold;
      text-decoration: underline;
      float: left;
      width: 100%; }
    .container aside .btn, .container aside .create, .container aside .edit, .container aside .profile, .container aside .delete, .container aside .back, .container aside .email {
      margin: 0 0 2em;
      clear: both;
      width: 80%;
      padding: 1em 10%;
      text-align: center; }
      .container aside .btn:hover, .container aside .create:hover, .container aside .edit:hover, .container aside .profile:hover, .container aside .delete:hover, .container aside .back:hover, .container aside .email:hover {
        background: rgba(48, 86, 125, 0.6); }
  .container .row {
    width: 100%;
    float: left;
    margin: 0;
    text-align: right; }
    @media (min-width: 481px) and (max-width: 768px) {
      .container .row {
        width: 80%;
        margin: 0 10%; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .container .row {
        width: 80%;
        margin: 0 10%; } }
    .container .row .btn, .container .row .create, .container .row .edit, .container .row .profile, .container .row .delete, .container .row .back, .container .row .email {
      float: right;
      margin-left: 1em; }
    .container .row .back {
      float: left;
      margin: 1em 0 0; }
    .container .row form {
      display: inline; }
    .container .row a {
      margin-bottom: 1em; }
  .container .list {
    float: left; }
    .container .list li {
      width: 26%;
      margin: 1em 3.666%;
      float: left;
      background: #3a6073;
      text-align: center; }
      .container .list li:hover {
        background: rgba(48, 86, 125, 0.7); }
      @media (min-width: 481px) and (max-width: 768px) {
        .container .list li {
          width: 44%;
          margin: 1em 3%; } }
      @media (min-width: 0px) and (max-width: 480px) {
        .container .list li {
          width: 90%;
          margin: 0.5em 5%;
          text-align: center; } }
      .container .list li a {
        width: 90%;
        min-height: 100px;
        font-size: 18px;
        font-family: arial;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 2em 1%;
        margin: 0 5%; }
        @media (min-width: 0px) and (max-width: 480px) {
          .container .list li a {
            min-height: auto;
            padding: 1.2em 0; } }
  .container .user-container {
    width: 90%;
    padding: 2em 5%;
    margin: 1em 0;
    float: left;
    background: #f6f6f6; }
    @media (min-width: 481px) and (max-width: 768px) {
      .container .user-container {
        text-align: center;
        width: 80%;
        padding: 2em 10%; } }
    @media (min-width: 0px) and (max-width: 480px) {
      .container .user-container {
        text-align: center;
        width: 80%;
        padding: 2em 10%; } }
    .container .user-container p {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 1em;
      float: left;
      width: 100%; }
    .container .user-container p.user {
      font-weight: bold;
      border-bottom: 2px solid #e9e9e9;
      margin-bottom: 1em;
      padding-bottom: 1em; }
      .container .user-container p.user:before {
        font-family: FontAwesome;
        content: " ";
        font-weight: normal;
        color: #c3c3c3; }
    .container .user-container ul {
      float: left;
      margin: 0 5%;
      width: 90%;
      font-size: 20px;
      font-weight: bold;
      line-height: 28px; }
      .container .user-container ul li {
        margin-bottom: 0.5em; }
        .container .user-container ul li a {
          color: #d66; }
    .container .user-container .row {
      width: 100%;
      margin: 0; }
    .container .user-container .half {
      margin: 0 5%;
      padding: 0;
      width: 40%; }
      @media (min-width: 481px) and (max-width: 768px) {
        .container .user-container .half {
          text-align: center;
          width: 80%;
          padding: 2em 10%; } }
      @media (min-width: 0px) and (max-width: 480px) {
        .container .user-container .half {
          text-align: center;
          width: 80%;
          padding: 2em 10%; } }
      .container .user-container .half h2 {
        margin: 0 0 1em;
        text-align: center; }
      .container .user-container .half ul {
        text-align: left;
        margin-left: 5%; }
  .container .dashboard {
    width: 100%;
    float: left; }
    .container .dashboard h2 {
      float: left;
      text-align: center;
      width: 100%;
      margin: 0 0 1em 0; }
    .container .dashboard span {
      float: left;
      color: #e67e22;
      width: 100%;
      font-weight: bold;
      font-size: 3em; }
    .container .dashboard .btn, .container .dashboard .create, .container .dashboard .edit, .container .dashboard .profile, .container .dashboard .delete, .container .dashboard .back, .container .dashboard .email {
      width: 80%;
      padding: 1em 10%; }
      .container .dashboard .btn:hover, .container .dashboard .create:hover, .container .dashboard .edit:hover, .container .dashboard .profile:hover, .container .dashboard .delete:hover, .container .dashboard .back:hover, .container .dashboard .email:hover {
        background: rgba(48, 86, 125, 0.7); }

.flash, .flash-add, .flash-update, .flash-delete {
  width: 80%;
  padding: 1em 10%;
  color: #fff;
  float: left;
  font-size: 20px;
  position: relative;
  -webkit-animation: flash-fade 5s infinite; }
  .flash span, .flash-add span, .flash-update span, .flash-delete span {
    position: absolute;
    font-size: 30px;
    top: 50%;
    text-align: center;
    color: #d66;
    right: 5%;
    margin-top: -19px;
    font-weight: bold;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    background: #fff;
    cursor: pointer; }
  .flash p, .flash-add p, .flash-update p, .flash-delete p {
    color: #fff; }
  .flash a, .flash-add a, .flash-update a, .flash-delete a {
    color: #fff;
    font-style: italic;
    border-bottom: 2px solid #fff; }

.flash-add {
  background: rgba(42, 187, 155, 0.7); }

.flash-update {
  background: rgba(48, 86, 125, 0.7); }

.flash-delete {
  background: rgba(239, 72, 54, 0.7); }

.post {
  background: #f6f6f6;
  padding: 1em 5%;
  margin: 1em 0;
  width: 90%;
  float: left; }
  @media (min-width: 481px) and (max-width: 768px) {
    .post {
      width: 80%;
      margin: 1em 5%; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .post {
      width: 80%;
      margin: 1em 5%; } }
  .post span {
    width: 100%;
    float: left;
    margin-top: 1em; }
  .post .btn:hover, .post .create:hover, .post .edit:hover, .post .profile:hover, .post .delete:hover, .post .back:hover, .post .email:hover {
    background: rgba(48, 86, 125, 0.7); }

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  @media (min-width: 481px) and (max-width: 768px) {
    table {
      width: 80%;
      margin: 0 10%; } }
  @media (min-width: 0px) and (max-width: 480px) {
    table {
      width: 90%;
      margin: 0 5%; } }
  table fa {
    color: #3a6073; }
  table thead {
    font-weight: bold;
    background: #3a6073;
    color: #fff; }
    @media (min-width: 481px) and (max-width: 768px) {
      table thead {
        display: none; } }
    @media (min-width: 0px) and (max-width: 480px) {
      table thead {
        display: none; } }
    table thead tr {
      width: 100%; }
      table thead tr th {
        padding: 0.5em 2%;
        font-size: 20px; }
  table tbody {
    width: 100%; }
    table tbody td {
      padding: 0.5em 2%; }
      @media (min-width: 481px) and (max-width: 768px) {
        table tbody td {
          padding: 0.5em 0; } }
      @media (min-width: 0px) and (max-width: 480px) {
        table tbody td {
          padding: 0.5em 0; } }
      table tbody td a {
        color: #3a6073; }
  table tbody tr {
    background: #f6f6f6; }
    @media (min-width: 481px) and (max-width: 768px) {
      table tbody tr {
        display: block;
        border-bottom: 2em solid #fff; } }
    @media (min-width: 0px) and (max-width: 480px) {
      table tbody tr {
        display: block;
        border-bottom: 2em solid #fff; } }
    table tbody tr:nth-child(even) {
      background: #f1f1f1; }
      @media (min-width: 481px) and (max-width: 768px) {
        table tbody tr:nth-child(even) {
          background: #f6f6f6; } }
      @media (min-width: 0px) and (max-width: 480px) {
        table tbody tr:nth-child(even) {
          background: #f6f6f6; } }
    table tbody tr:hover {
      background: rgba(0, 0, 0, 0.15); }
    @media (min-width: 481px) and (max-width: 768px) {
      table tbody tr td {
        display: block;
        text-align: right;
        width: 90%;
        padding: 0.5em 5%;
        border-bottom: 1px dotted #e9e9e9; }
        table tbody tr td:last-child {
          border: none; }
        table tbody tr td:before {
          content: attr(data-label);
          float: left;
          font-weight: bold; }
        table tbody tr td:nth-child(even) {
          background: #f1f1f1; } }
    @media (min-width: 0px) and (max-width: 480px) {
      table tbody tr td {
        display: block;
        text-align: right;
        width: 90%;
        padding: 0.5em 5%;
        border-bottom: 1px dotted #e9e9e9; }
        table tbody tr td:last-child {
          border: none; }
        table tbody tr td:before {
          content: attr(data-label);
          float: left;
          font-weight: bold; }
        table tbody tr td:nth-child(even) {
          background: #f1f1f1; } }
    table tbody tr .view-cell {
      text-align: center; }

.morning:before {
  font-family: FontAwesome;
  content: " ";
  color: #F3D012; }

.afternoon:before {
  font-family: FontAwesome;
  content: " ";
  color: #e67e22; }

.evening:before {
  font-family: FontAwesome;
  content: " ";
  color: #d0d0d0; }
